<p>Para acceder a ver productos inicie sesión</p>
<h2>Inicio de sesión</h2>

<form action="/api/sessions/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br><br>
    <button type="submit">Enviar</button>
</form>
<br><br>
<a href="/register">Registrarse</a>